.date {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 4px;
    margin-left: 2px;
}

.wrapper {
    max-width: 850px;
}

.mediaCarousel {
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(35,35,35);
}

.summary {
    padding: 16px 20px;
    background-color: rgb(238, 238, 238);
    margin: 12px 8px;
}

.card.image {
    margin-bottom: 0px;
}

#body .card > img {
    max-width: 100%;
    width: 500px;
    display: block;
    margin: auto;
}